In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [5]:
df = next(df_iter)

In [6]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   lpep_pickup_datetime   100000 non-null  object
 2   lpep_dropoff_datetime  100000 non-null  object
 3   store_and_fwd_flag     100000 non-null  object
 4   RatecodeID             100000 non-null  int64
 5   PULocationID           100000 non-null  int64
 6   DOLocationID           100000 non-null  int64
 7   passenger_count        100000 non-null  int64
 8   trip_distance          100000 non-null  float64
 9   fare_amount            100000 non-null  float64
 10  extra                  100000 non-null  float64
 11  mta_tax                100000 non-null  float64
 12  tip_amount             100000 non-null  float64
 13  tolls_amount           100000 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  payment_type           100000 non-null  int64
 18  trip_type              100000 non-null  int64
 19  congestion_surcharge   6 non-null       float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.3+ MB

In [9]:
df['store_and_fwd_flag'].value_counts()

N    99827
Y      173
Name: store_and_fwd_flag, dtype: int64

In [23]:
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

df['store_and_fwd_flag'] = df['store_and_fwd_flag'].apply(lambda x: True if x == 'Y' else False)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   lpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   store_and_fwd_flag     100000 non-null  bool
 4   RatecodeID             100000 non-null  int64
 5   PULocationID           100000 non-null  int64
 6   DOLocationID           100000 non-null  int64
 7   passenger_count        100000 non-null  int64
 8   trip_distance          100000 non-null  float64
 9   fare_amount            100000 non-null  float64
 10  extra                  100000 non-null  float64
 11  mta_tax                100000 non-null  float64
 12  tip_amount             100000 non-null  float64
 13  tolls_amount           100000 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  payment_type           100000 non-null  int64
 18  trip_type              100000 non-null  int64
 19  congestion_surcharge   6 non-null       float64
dtypes: bool(1), datetime64[ns](2), float64(10), int64(7)
memory usage: 14.6 MB

In [15]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data'))

CREATE TABLE "green_taxi" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" INTEGER,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [16]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [18]:
df.head(0).to_sql(name = 'green_taxi_data', con = engine, if_exists = 'replace')

0

In [19]:
from time import time

In [20]:
while True:
    s_time = time()
    df = next(df_iter)
    
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

    df['store_and_fwd_flag'] = df['store_and_fwd_flag'].apply(lambda x: True if x == 'Y' else False)
    
    df.to_sql(name = 'green_taxi_data', con = engine, if_exists = 'append')
    
    e_time = time()
    print(f'Rows successfully added, it tooks %.3f seconds' % (e_time - s_time))

Rows successfully added, it tooks 8.021 seconds
Rows successfully added, it tooks 7.773 seconds
Rows successfully added, it tooks 7.661 seconds
Rows successfully added, it tooks 7.696 seconds
Rows successfully added, it tooks 7.770 seconds
Rows successfully added, it tooks 2.423 seconds

StopIteration:

In [24]:
%%time
df.to_sql(name = 'green_taxi_data', con = engine, if_exists = 'replace')

CPU times: user 21 s, sys: 1.25 s, total: 22.3 s
Wall time: 49.6 s

918

In [25]:
zones = pd.read_csv('taxi+_zone_lookup.csv')

In [26]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [27]:
zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [28]:
zones.to_sql(name = 'green_taxi_zones', con = engine, if_exists = 'replace')

265

In [30]:
df['lpep_dropoff_datetime'][0]

Timestamp('2018-12-21 15:18:57')

In [35]:
df[(df['lpep_pickup_datetime'] >= '2019-01-15 00:00:00') & (df['lpep_dropoff_datetime'] <= '2019-01-15 23:59:59')]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
272684,2,2019-01-15 15:33:43,2019-01-15 15:33:50,False,5,195,195,1,0.00,35.00,0.0,0.0,0.00,0.0,NaN,0.0,35.00,1,2,NaN
275421,2,2019-01-15 16:50:12,2019-01-15 17:23:03,False,1,195,17,1,6.37,25.50,1.0,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
276753,2,2019-01-15 17:44:00,2019-01-15 18:03:10,False,1,34,52,1,2.08,13.00,1.0,0.5,3.70,0.0,NaN,0.3,18.50,1,1,NaN
278806,2,2019-01-15 20:02:24,2019-01-15 20:17:52,False,1,195,228,1,3.23,13.00,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1,NaN
279998,2,2019-01-15 00:00:45,2019-01-15 00:07:05,False,1,244,42,2,1.60,7.50,0.5,0.5,0.00,0.0,NaN,0.3,8.80,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301222,2,2019-01-15 21:49:49,2019-01-15 21:56:11,False,1,129,260,1,1.07,6.50,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
301223,2,2019-01-15 22:29:47,2019-01-15 22:39:48,False,1,82,173,1,1.37,8.00,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1,NaN
301258,2,2019-01-15 22:56:18,2019-01-15 23:43:35,False,5,74,55,1,23.42,65.91,0.0,0.5,0.00,0.0,NaN,0.0,66.41,1,2,NaN
301411,2,2019-01-15 22:18:09,2019-01-15 22:25:53,False,1,82,129,1,1.40,7.00,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1,NaN
301517,2,2019-01-15 21:52:54,2019-01-15 21:55:14,False,1,82,129,1,0.49,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,NaN

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,False,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,False,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,False,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,False,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,False,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,False,1,255,226,1,3.33,13.0,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,False,1,75,151,1,0.72,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,False,1,75,238,1,1.75,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,False,1,74,74,1,0.57,5.0,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,False,1,75,262,1,2.11,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0