## Read and load data

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [61]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [62]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [64]:
df['store_and_fwd_flag'].value_counts()

N    629670
Y      1248
Name: store_and_fwd_flag, dtype: int64

In [65]:
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

df['store_and_fwd_flag'] = df['store_and_fwd_flag'].apply(lambda x: True if x == 'Y' else False)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  bool
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: bool(1), datetime64[ns](2), float64(10), int64(7)
memory usage: 92.1 MB

In [67]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" INTEGER,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [68]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [69]:
%%time
df.to_sql(name = 'green_taxi_data', con = engine, if_exists = 'replace')

CPU times: user 21 s, sys: 1.33 s, total: 22.3 s
Wall time: 50.3 s

918

Zones dictionary

In [70]:
zones = pd.read_csv('taxi+_zone_lookup.csv')

In [71]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [72]:
zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [73]:
zones.to_sql(name = 'green_taxi_zones', con = engine, if_exists = 'replace')

265

## HW tasks

In [74]:
df = pd.read_sql("""
    select * 
    from green_taxi_data
""", engine)

In [75]:
zones = pd.read_sql("""
    select * 
    from green_taxi_zones
    """, engine)

### Question 3: Count records  (Multiple choice)
How many taxi trips were totally made on January 15?

In [81]:
df['lpep_dropoff_datetime'][0]

Timestamp('2018-12-21 15:18:57')

In [82]:
df[(df['lpep_pickup_datetime'] >= '2019-01-15 00:00:00') & (df['lpep_dropoff_datetime'] <= '2019-01-15 23:59:59')].shape[0]

20530

### Question 4: Largest trip for each day (Multiple choice)
Which was the day with the largest trip distance?

In [83]:
df['trip_distance'].max()

117.99

In [86]:
df[df['trip_distance'] == 117.99]['lpep_pickup_datetime']

297377   2019-01-15 19:27:58
Name: lpep_pickup_datetime, dtype: datetime64[ns]

### Question 5: The number of passengers  (Multiple choice)
In 2019-01-01 how many trips had 2 and 3 passengers?

In [87]:
print(df[(df['lpep_pickup_datetime'] >= '2019-01-01 00:00:00') & (df['lpep_dropoff_datetime']<= '2019-01-01 23:59:59')
   & (df['passenger_count'] == 2)].shape[0])

print(df[(df['lpep_pickup_datetime'] >= '2019-01-01 00:00:00') & (df['lpep_dropoff_datetime']<= '2019-01-01 23:59:59')
   & (df['passenger_count'] == 3)].shape[0])

1266
253

### Question 6: Largest tip (Multiple choice)
For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?

In [89]:
zones[zones['Zone'] == 'Astoria']

   index  LocationID Borough     Zone service_zone
6      6           7  Queens  Astoria    Boro Zone

In [90]:
df[df['PULocationID'] == 7]['tip_amount'].max()

88.0

In [92]:
df[(df['PULocationID'] == 7) & (df['tip_amount'] == 88)]['DOLocationID']

506162    146
Name: DOLocationID, dtype: int64

In [93]:
zones[zones['LocationID'] == 146]

     index  LocationID Borough                           Zone service_zone
145    145         146  Queens  Long Island City/Queens Plaza    Boro Zone